


<div>
  <h2>Parent Spreadsheet</h2>
  <button class="workbookButton" (click)="workbookDownload()">
    <label>Download</label>
  </button>
  <button class="workbookButton" (click)="workbookSave()">
    <label>Save Workbook</label>
  </button>
  <button>
    <a routerLinkActive="active" target="_blank" routerLink="/child1">Child1 Spreadsheet</a>
  </button>
  <button>
    <a routerLinkActive="active" target="_blank" routerLink="/child2">Child2 Spreadsheet</a>
  </button>
  <!-- <button class="workbookButton" (click)="AddRowColumn()">
    <label>Add Row & Column</label>
  </button> -->
  <select #select style="float: right;height: 21px;" (change)="onChange()">
    <option value="100">Select</option>
    <option *ngFor="let item of this.empList;let i = index" [value]="item.empid" [selected]="i == 100">
      {{item.name}}
    </option>
  </select>
  <igx-spreadsheet #spreadsheet height="500px" width="100%">
  </igx-spreadsheet>
</div>
<router-outlet></router-outlet>