<h2>Child2 Spreadsheet</h2>
<button class="workbookButton" (click)="workbookDownload()">
    <label>Download</label>
  </button>
  <button class="workbookButton" (click)="workbookSave()">
    <label>Save Workbook</label>
  </button>
  
  <button>
    <a routerLinkActive="active" target="_blank" routerLink="/child1">Child1 Spreadsheet</a>
  </button>
  <button>
    <a routerLinkActive="active" target="_blank" routerLink="/child2">Child2 Spreadsheet</a>
  </button>&nbsp;&nbsp;
  <!-- <label>Total Rows:&nbsp;{{totalCount}}</label>&nbsp;&nbsp;
  <label>Row Id of Total:&nbsp;{{totalRowId}}</label>&nbsp;&nbsp; -->
  <label class="options-label" for="openFile">Choose Excel File:</label>
  <input class="button" id="openFile" type="file" (change)="openFile($event)" accept=".xls, .xlt, .xlsx, .xlsm, .xltm, .xltx">
  <select #select style="float: right;height: 21px;" (change)="onChange()">
    <option value="100">Select</option>
    <option *ngFor="let item of this.empList;let i = index" [value]="item.empid" [selected]="i == 100">
      {{item.name}}
    </option>
  </select>
<igx-spreadsheet #spreadsheet height="500px" width="100%">
</igx-spreadsheet>
